@import 'tailwindcss';
@import '@nuxt/ui';

body {
  font-family: var(--font-main);
  background-color: var(--depth);
  scroll-behavior: smooth;
}

.font-heading {
  font-family: var(--font-heading);
}

@layer base {
  :root {
    /* Couleurs */
    --ui-primary: var(--color-indigo-900);
    --ui-secondary: var(--color-indigo-400);
    --depth: var(--color-slate-200);
    --ui-success: var(--color-indigo-900);
    --ui-info: var(--ui-color-teal-500);
    --ui-warning: var(--ui-color-rose-500);
    --ui-error: var(--ui-color-red-700);

    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    /* Fonts */
    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Birthstone Bounce', sans-serif;
  }
}
