@import 'tailwindcss';
@import '@nuxt/ui';
@import './color/gold.css';

body {
  font-family: var(--font-main);
  background-color: var(--depth);
  scroll-behavior: smooth;
  background-image: url('https://res.cloudinary.com/dbihnwsar/image/upload/f_auto,q_auto/v1773426387/lineage_by_alice_bobbaji_d4dxgo7-fullview-protected-intensity-LOW-V2_dxdrjv.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f5f0eb;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.92);
  z-index: 0;
  pointer-events: none;
}

.font-heading {
  font-family: var(--font-heading);
}

@layer base {
  :root {
    /* Couleurs */
    --ui-primary: #bb8f36;
    --ui-secondary: #d0b173;
    --ui-tertiary: #fcf6ba;
    --depth: var(--color-slate-200);
    --ui-success: #bf953f;
    --ui-info: var(--ui-color-amber-900);
    --ui-warning: var(--ui-color-orange-500);
    --ui-error: var(--ui-color-red-800);

    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    /* Fonts */
    --font-main: 'Montserrat', sans-serif;
    --font-heading: 'Birthstone Bounce', sans-serif;
  }
}
